<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- local connection properties -->
		<property name="hibernate.connection.url">
			jdbc:postgresql://saadouni@dyndns.org:5432/BoT_db
		</property>
		<property name="hibernate.connection.driver_class">
			org.postgresql.Driver
		</property>
		<property name="hibernate.connection.username">bot</property>
		<property name="hibernate.connection.password">bot</property>
		<!-- property name="hibernate.connection.pool_size"></property -->
		<!-- dialect for PostgreSQL -->
		<property name="dialect">
			net.sf.hibernate.dialect.PostgreSQLDialect
		</property>
		<property name="show_sql">true</property>

		<mapping resource="fr/umlv/smoreau/beontime/ressources/Cours.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/ALieuCoursLocal.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/Personne.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/Local.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/Formation.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/Matiere.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/Groupe.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/EstDirigeParCoursEnseignant.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/TypeCours.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/UtiliseCoursMateriel.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/Indisponibilite.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/ParticipeGroupeMatiereCours.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/TypeIndisponibilite.hbm" />
		<mapping resource="fr/umlv/smoreau/beontime/ressources/Materiel.hbm" />
	</session-factory>
</hibernate-configuration>
